    <header>
        <h1>thid the header</h1>
        <button><a href="/">-HOME</a></button>
        <button><a href="/about">-ABOUT</a></button>
        <button><a href="/contact">-CONTACT</a></button>
    </header>